@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

<h1> Welcome To Admin Dashboard </h1>

<p> ....................... </p>
