<!DOCTYPE html>
< lang="en">

  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <title>@ViewData["Title"] - GrapheneTrace Admin</title>


     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/GrapheneTrace_GP.styles.css" asp-append-version="true" />
    
 </head>

 <body>

     <!-- Connection of Navbar -->

    @await Html.PartialAsync("_BlankLayout")

    <div class="d-flex">

        <!-- connection of sidebar -->

            @await Html.PartialAsync("_Sidebar")

        <main class="content p-4">

            @RenderBody()

        </main>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

 </body>
</html>