<nav class="side-nav">
    <ul>
        <li>
            <a asp-controller="Monitor" asp-action="Index">
                <span class="icon">💓</span><span class="label">xyz</span>
            </a>
        </li>
        <li class="active">
            <a asp-controller="Home" asp-action="Index">
                <span class="icon">🛏️</span><span class="label">xyz</span>
            </a>
        </li>
        <li>
            <a asp-controller="Timeline" asp-action="Index">
                <span class="icon">⏱️</span><span class="label">xyz</span>
            </a>
        </li>
        <li>
            <a asp-controller="Folder" asp-action="Index">
                <span class="icon">📁</span><span class="label">xyz</span>
            </a>
        </li>
        <li>
            <a asp-controller="Chat" asp-action="Index">
                <span class="icon">💬</span><span class="label">xyz</span>
            </a>
        </li>
        <li>
            <a asp-controller="Alerts" asp-action="Index">
                <span class="icon">🚨</span><span class="label">xyz</span>
            </a>
        </li>
    </ul>

    <div class="side-bottom">
        <a asp-controller="Settings" asp-action="Index">
            <span class="icon">⚙️</span><span class="label">Settings</span>
        </a>
        <a asp-controller="Help" asp-action="Index">
            <span class="icon">❓</span><span class="label">Help</span>
        </a>
    </div>
</nav>
