<nav class="side-nav">
    <ul>

        <li class="active">
            <a asp-controller="Dashboard" asp-action="Index">
                <span class="icon">🛏</span><span class="label">Dashboard</span>
            </a>
        </li>

        <li>
            <a asp-controller="Clinicians" asp-action="Index">
                <span class="icon">🏥</span><span class="label">Clinicians</span>
            </a>
        </li>

        <li>
            <a asp-controller="Patients" asp-action="Index">
                <span class="icon">👩🏼‍🦼</span><span class="label">Patients</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#addProfileMenu">
                <i class="fas fa-user-plus"></i> Add Profile
            </a>
            <div class="collapse" id="addProfileMenu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                    <li>
                        <a asp-area="Admin" asp-controller="ClinicianProfile" asp-action="Step01" class="nav-link">
                            Add Clinician
                        </a>
                    </li>

                    <li>
                        <a asp-area="Admin" asp-controller="PatientProfile" asp-action="Step01" class="nav-link">
                            Add Patient
                        </a>
                    </li>

                </ul>
            </div>
        </li>

        <li>
            <a asp-controller="Alerts" asp-action="Index">
                <span class="icon">🚨</span><span class="label">Alerts</span>
            </a>
        </li>

        <li>
            <a asp-controller="Settings" asp-action="Index">
                <span class="icon">⚙️</span><span class="label">Settings</span>
            </a>
        </li>

        <li>
            <a asp-controller="Help" asp-action="Index">
                <span class="icon">❓</span><span class="label">Help</span>
            </a>
        </li>

    </ul>

    <div class="side-bottom">
        <a asp-controller="AdminProfile" asp-action="Index">
            <span class="icon">👩🏼‍💼</span><span class="label">Profile</span>
        </a>
    </div>
</nav>